.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form fieldset {
  border: none;
  padding: 0px;
}

.form #name {
  margin-top: 1rem;
  padding: 10px;
  width: 90%;
}
.form #subject {
  margin-top: 1rem;
  padding: 10px;
  width: 90%;
}

.form #email {
  margin-top: 1rem;
  padding: 10px;
  width: 90%;
}

.form #message {
  margin-top: 1rem;
  padding: 10px;
  width: 90%;
  resize: none;
}

.btn {
  margin: 10px auto;
  background: 0 0;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  height: 40px;

  padding: 0 15px 0 12.5px;
  position: relative;
  transition: all 0.3s;
  border: 2px solid #fff;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 0;
  color: #fff;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
.btn:hover {
  color: #666;
}
/*Adding the hover effect base */
.btn::before {
  content: "";
  height: 100%;
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s;
  z-index: -1;
}

.btn.left::before {
  transform: translate(-100%, 0);
}
.btn.left:hover::before {
  transform: translate(0, 0);
}

.listContact {
  list-style: none;
  margin-right: 10rem;
}

.elementC {
  height: 66vh;
}

.elementC h1 {
  margin-bottom: 4rem;
}

.mapDiv {
  height: 50vh;
  display: inline-block;
}

.map {
  width: 98.9vw;
  height: 100%;
  border: none;
}

.flexC {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.form fieldset{
  width: 60vw;
}

.formSub {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: grey;
  margin: auto;
  padding: 2em 0em;
}

@media screen and (max-width: 700px) {
  .flexC {
    font-size: 1em;
  }
  .formSub {
    padding: 2em;
  }
  .form {
    width: 80vw;
  }
  .btn {
    height: 30px;
  }
}

@media screen and (max-width: 330px) {
   .btn{
    cursor: pointer;
    height: 50px;
  }
}
