.apresent {
  max-width: 1000px;
  margin: auto;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.apresent h1 {
  font-size: 80pt;
  text-align: start;
}

.hello {
  font-size: 16pt;
}

.h1{
  display: inline;
  transition: .3s;
  cursor: pointer;
}

.flex{
  margin-bottom: 20px;
  text-align: justify;
}

.h1:hover{
  color: rgb(0, 255, 234);
}


