.divPaiQuality {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.elementQ {
  padding-top: 4rem;
  height: 100vh;
}

.flexQuality {
  display: flex;
  margin: 3rem auto;

  justify-content: center;
  align-items: center;
}

@keyframes identifier {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .blocksLanguages {
    animation: identifier infinite 10s linear;
  }
}

.blocksLanguages {
  cursor: pointer;
  margin: 0px 25px;
  width: 100px;
  height: 100px;
}

.blocksLanguages img {
  width: 100%;
  height: 100%;
}

.apresentationLanguage {
  max-width: 900px;
  margin: 3rem auto;
  background-color: rgba(141, 141, 141, 0.158);
  padding: 10px;
}

.flexQ {
  margin-bottom: 2em;
  font-size: 1.5em;
}

@media screen and (max-width: 800px) {
  .elementQ {
    height: 80vh;
    padding: 0px;
  }

  .flexQ {
    font-size: 1em;
  }

  .blocksLanguages {
    cursor: pointer;
    margin: 0px 25px;
    width: 80px;
    height: 80px;
  }

  .flexQuality {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 530px) {
  .blocksLanguages {
    cursor: pointer;
    margin: 20px 25px;
    width: 80px;
    height: 80px;
  }
}
