

.apresent {
  max-width: 1000px;
  margin: auto;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.apresent h1 {
  font-size: 80pt;
  text-align: start;
}

.hello {
  font-size: 16pt;
}
